body{
  background: linear-gradient(45deg, rgb(0,95,191), rgb(166, 166, 166)) !important; 
  height:auto;
}
.title{
  font-size: 4rem;
  font-weight: 200;
  padding:5rem 2rem;
  margin: 20px 0 0 6vw;
  font-family: 'Source Sans Pro', sans-serif;
}
.scroll-pictures{ 
  overflow-y:hidden;
  height:350px;
  margin:5vh 0 20vh 0;
}
.list{
  display: inline-flex;
  font-variant-caps: all-small-caps;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
}
.list img{
  margin:0 20px;
  width:300px;
  height:300px;
  /* box-shadow: 0 0 10px rgb(24, 23, 23);
  border-radius: 30px; */
}
.list img:first-child{
  margin:0 20px 0 0;
}
.product-detail-header{
  font-size: 2rem;
  padding:80px 0 0 3vw;
}
.detail{
  width:80vw;
  margin: 30px auto;
  line-height: 3rem;
}
.benefit-header{
  font-size: 2rem;
  text-align: center;
  padding: 160px 0 40px 0;
}
p{
  text-align: center;
  font-size: 1rem;
}
p:last-child{
  padding:0 0 30px 0;

}